<h2>This is an unordered list of elements</h2>
<ul>
  <li>element 1</li>
  <li>element 2</li>
  <li>element 3</li>
  <li>element 4</li>
</ul>
<h2>This is an ordered list of items</h2>
<ol>
    <li>item 1</li>
    <li>item 2</li>
    <li>item 3</li>
    <li>item 1</li>
</ol>
